
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BobBlog</title>
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("home")">Simutank</a>
        </h1>
        <a href="@Url.RouteUrl("login")">Login</a>

    </header>

    <!--Insert View Here-->
    @RenderBody()

    
    <footer>
        &copy; @DateTime.UtcNow.Year - Iron Monkey Inc.
    </footer>

    <!--Always put script tags at the end of the body-->
    <!--For rendering scripts at the end-->
    @RenderSection("Scripts", false)

</body>
</html>
